<!DOCTYPE html>

{% import "bootstrap/wtf.html" as wtf %}

<html>
    <head>
        <title>Profile</title>
    </head>
    <body>
        <br>
        <br>
        <div style='text-align:center'>
            <h2>Change password</h2>
        </div>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <b style='color:darkred'>{{message}}</b>
                    <br>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <br>
        <form method='POST' action="{{url_for('changePassword')}}">
            {{ form.hidden_tag() }}
            {{ wtf.form_field(form.old) }}
            {{ wtf.form_field(form.new) }}
            {{ wtf.form_field(form.confirm) }}
            <br>
            <input type='submit' value='Change password'>
            <div style='text-align:center'>
                <br>
                <br>
                <br>
                Go back to <a href="{{url_for('profile')}}">profile page</a>
            </div>
        </form>
    </body>
</html>