<!DOCTYPE html>

<html>
    <head>
        <title>Restaurant Menu</title>
    </head>
    <body>
        <br>
        <br>
        <div style='text-align:center'>   
            <h1>Restaurant menu</h1>
            <h2>Home page</h2>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <b style='color:goldenrod; font-size:larger'>{{message}}</b>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <br>
            <br>
            <div style='font-size:large'>
                <a href="{{url_for('login')}}">Login page</a>
                <br>
                <br>
                <a href="{{url_for('signup')}}">Signup page</a>
                <br>
                <br>
                <a href="{{url_for('profile')}}">Profile page</a>
                <br>
                <br>
                <br>
                <a href="{{url_for('logout')}}">Logout</a>
            </div>
        </div>
    </body>
</html>